@model MilkyProject.WebUI.DTOs.Product.UpdateProductDto
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <h3 class="mb-0">Ürünler</h3>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tbody>
                        <form method="post">
                            <div class="container">
                                <br /><br />
                                <input type="hidden"  asp-for="productId"/>
                                <label>Ürün Adı</label>
                                <input type="text" name="ProductName" class="form-control" />
                                <br />
                                <label>Eski Fiyat</label>
                                <input type="text" name="OldPrice" class="form-control" />
                                <br />
                                <label>Yeni Fiyat</label>
                                <input type="text" name="NewPrice" class="form-control" />
                                <br />
                                <label>Görsel Yolu</label>
                                <input type="text" name="ImageUrl" class="form-control" />
                                <br />
                                <label>Kategori Seçin</label>
                                    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.CategoryList, new { @class = "form-control" })
                                <br />
                                <button type="submit" class="btn btn-primary">Ürünü Ekle</button>
                                <br /><br />
                            </div>
                        </form>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
