@model MilkyProject.WebUI.DTOs.SocialMedia.UpdateSocialMediaDto
@{
    ViewData["Title"] = "UpdateSocialMedia";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col">
        <div class="card shadow">
            <div class="card-header border-0">
                <h3 class="mb-0">sosyal Medya Güncelleme</h3>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    </thead>
                    <tbody>
                        <form method="post">
                            <div class="container">
                                <div class="form-group">
                                    <input type="hidden" asp-for="SocialMediaID" class="form-control">
                                    <label>Sosyal Medya Ad</label>
                                    <input type="text" asp-for="Name" class="form-control">
                                    <br />
                                    <label>Sosyal Medya Link</label>
                                    <input type="text" asp-for="Url" class="form-control">
                                    <label>Sosyal Medya Ikon</label>
                                    <input type="text" asp-for="Icon" class="form-control">
                                </div>
                            </div>
                            <br />
                        </form>
                    </tbody>
                </table>
                <br />
                <button class="btn btn-primary">Sosyal Medya Güncelle</button>
            </div>

        </div>
    </div>
</div>

